{% extends 'budget/base.html' %}
{% block content %}

<div class="container">

  <section class="section section-stats">
    <div class="row">

      <div class="col s12 m12 l4">
        <div class="card-panel">
          <h6 class="bold">Total Budget</h6>
          <h1 class="bold">THB{{ project.budget }}</h1>
        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card-panel">
          <h6 class="bold">Budget left</h6>
          <h1 class="bold">THB...</h1>
        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card-panel">
          <h6 class="bold">Total Transactions</h6>
          <h1 class="bold">THB...</h1>
        </div>
      </div>

    </div>
  </section>

  <section class="section section-expenses">
    <div class="row">
      <button class="btn waves-effect right">
        <i class="material-icons white-text left">add_circle</i>
        Add Expense</button>
    </div>

    <ul class="z-depth-1">

      {% for expense in expense_list %}
      <li>
        <div class="card-panel z-depth-0 expense">
          <div class="row">

            <div class="col l6">
              <span class="title">{{ expense.title }}</span>
            </div>
            <div class="col l3">
              <span class="title">{{ expense.amount }}</span>
            </div>
            <div class="col 1">
              <span class="title bold">{{ expense.category.name }}</span>
            </div>

            <i class="material-icons red-text right">close</i>

          </div>
        </div>
      </li>
      {%  endfor %}

    </ul>
  </section>

</div>

{% endblock %}
